/*=========================
- Project: Applab
- Authore: Rafi kadir
- Date: 08/01/2021
- PSD to HTML convertion
==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Font CSS */
/* Color CSS */
/* Common CSS */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #616368;
}

p {
  color: #616368;
  font-size: 16px;
}

.main-btn a {
  background: #2500f9;
  color: #ffffff;
  background: #2500f9;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
}

.main-btn a:hover {
  background: #f55767;
}

h1, h2, h3, h4, h5, h6 {
  color: #242f51;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.section-title {
  margin-bottom: 60px;
  max-width: 500px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Navbar CSS */
.main-menu {
  padding: 15px 0;
  background: #ffffff;
}

.main-menu .navbar {
  padding: 0;
}

.main-menu .navbar .navbar-nav .nav-item .nav-link {
  color: #242f51;
  font-size: 17px;
  font-weight: 500;
  margin: 0 10px;
}

.main-menu .main-btn a {
  margin-left: 30px;
}

.is-sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  -webkit-animation: 0.5s ease-in-out fadeInDown;
          animation: 0.5s ease-in-out fadeInDown;
  -webkit-box-shadow: 0 11px 61.1px 3.9px rgba(34, 34, 34, 0.09);
          box-shadow: 0 11px 61.1px 3.9px rgba(34, 34, 34, 0.09);
}

/* Banner CSS */
.banner-section {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.banner-section .banner-text h6 {
  background: #e2eaed;
  color: #242f51;
  font-size: 18px;
  display: inline-block;
  padding: 10px 30px 10px 50px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.banner-section .banner-text h6 i {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  left: 0px;
  background: #feaa25;
  border-radius: 30px;
  padding: 10px;
  top: 0;
}

.banner-section .banner-text h1 {
  font-size: 60px;
  font-weight: 600;
  color: #242f51;
  margin-bottom: 30px;
}

.banner-section .banner-text p {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 500px;
}

.banner-section .banner-text .main-btn :nth-child(2) {
  background: transparent;
  color: #2500f9;
}

.banner-section .banner-btm img {
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* Company CSS */
.company-section p {
  text-align: center;
  color: #242f51;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 18px;
}

.company-section .owl-carousel .owl-item img {
  width: inherit;
}

/* Feature CSS */
.feature-text .media {
  max-width: 480px;
  position: relative;
}

.feature-text .media i {
  background: #ffecef;
  color: #f55767;
  width: 80px;
  height: 80px;
  font-size: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  position: absolute;
}

.feature-text .media .media-body {
  padding-left: 100px;
  margin-bottom: 60px;
}

.feature-img {
  position: relative;
  max-width: 450px;
  text-align: center;
}

.feature-img::before {
  position: absolute;
  content: url(../img/feature-pattern.png);
  width: 525px;
  top: 20%;
  left: 0;
  z-index: -1;
  right: 0;
  margin: auto;
}

/* Smart Jackpot CSS */
.smart-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 30px;
  position: relative;
}

.smart-section h2::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  right: -40px;
  top: 0;
  background: #b9b9b8;
}

.smart-section .top-text {
  margin-bottom: 0;
  margin-left: 40px;
}

.smart-section .mb-70 {
  margin-bottom: 70px;
}

.smart-card {
  margin-bottom: 30px;
}

.smart-card i {
  font-size: 50px;
  color: #f55767;
  background: #f557672b;
  margin-bottom: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 80px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.smart-card h4 {
  color: #f55767;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
}

.smart-card p {
  margin-bottom: 0;
  max-width: 300px;
}

.smart-card:hover h4, .smart-card:hover i {
  color: #2563ff;
}

.smart-card:hover i {
  background: #2563ff2b;
}

/* Why Choose CSS */
.why-choose .section-title {
  margin: 0 auto 50px;
}

.why-choose .section-title p {
  margin: auto;
}

.choose-box {
  margin-bottom: 30px;
}

.choose-box i {
  color: #000000;
  background: #ecdfe1;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50px;
  font-size: 50px;
  margin-bottom: 30px;
}

.choose-box h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.choose-box p {
  margin-bottom: 0;
  max-width: 300px;
  margin: 0 auto;
}

/* Pricing CSS */
.pricing-section .section-title {
  margin: 0 auto 50px;
  text-align: center;
}

.pricing-area {
  text-align: center;
}

.pricing-area .nav-tabs {
  border: 0px solid #bec0c5;
  padding: 5px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  display: inherit;
}

.pricing-area .nav-tabs .nav-item {
  display: inline-block;
}

.pricing-area .nav-tabs .nav-item .nav-link {
  font-weight: 500;
}

.pricing-area .nav-tabs .nav-item .nav-link.active {
  border-radius: 30px;
  padding: 15px 30px;
  background: #2500f9;
  color: #ffffff;
  border: 0;
}

.pricing-area .nav-tabs .nav-item .nav-link:hover {
  border: 0;
}

.pricing-area .price-card {
  -webkit-box-shadow: 0 2px 20px #0000003b;
          box-shadow: 0 2px 20px #0000003b;
  margin-bottom: 30px;
  padding: 35px;
  border-radius: 10px;
}

.pricing-area .price-card .price h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 16px;
}

.pricing-area .price-card .price h1 span {
  font-size: 18px;
  color: #616368;
  font-weight: 400;
}

.pricing-area .price-card .price h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.pricing-area .price-card .price p {
  color: #999ca5;
}

.pricing-area .price-card .price-fetaure ul {
  padding: 0;
  margin: 35px 0;
}

.pricing-area .price-card .price-fetaure ul li {
  list-style: none;
  color: #999ca5;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */